.menu_shadow {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.alberite_splash_container {
  overflow: scroll;
  height: 100%;
  top: 0px;
}

.alberite_generic_table {
  margin-bottom: 20px;
  margin-left: 10px;
  float: left;
  max-width: 90%;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.alberite_generic_dummy_div_first {
  width: 100%;
  margin-top: 70px;
}

.alberite_page_name {
}

.alberite_log_table {
  line-height: 1em;
}

.alberite_hour_inputs {
  width: 20px;
  font-size: 9px;
}

.alberite_hour_div {
  width: 70px;
}

.alberite_combo {
  width: 50px;
}

.alberite_cursor {
  cursor: pointer;
}

.anim-enter {
  opacity: 0.01;
}

.anim-enter.anim-enter-active {
  opacity: 2;
  transition: opacity 2s ease-in;
}

.alberite_gpio_on {
  background-color: white;
  color: red;
  font-weight: bold;
}

.alberite_gpio_off {
  background-color: white;
  color: green;
  font-weight: bold;
}
